<div>
  <div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Jargon Busting, A Computational Approach, Introduction to Working with Data</h3>
    <ul>
      <li>Jargon Busting</li>
      <li>A Computational Approach</li>
      <li>Introduction to Working with Data (Regular Expressions)</li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/reference"><u>Reference...</u></a></li>
    </ul>
  </div>
   <div class="col-md-6">
    <h3 id="syllabus-tidy-data">Tidy Data for Librarians</h3>
    <ul>
      <li>What are good data practices?</li>
      <li>
        How should data tables be formatted in spreadsheets?</li>
      <li>
        What common mistakes are made when formatting spreadsheets?</li>
      <li>
        How are dates handled by computers?</li>
      <li>
        Can you keep data clean and sane?</li>
      <li>
        What problems are there with Excel files? </li>
      <li>
    What do you need to be aware of when exporting data?
</li>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/reference"><u>Reference...</u></a></li>
    </ul>
  </div>
  </div>

    <div class="row">
    <div class="col-md-6">
      <h3 id="syllabus-open-refine">OpenRefine</h3>
      <ul>
        <li>Introduction to OpenRefine</li>
        <li>Importing Data</li>
        <li>Basic Functions</li>
        <li>Advanced Functions</li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/reference"><u>Reference...</u></a></li>
      </ul>
    </div>
      <div class="col-md-6">
    <h3 id="syllabus-sql">SQL</h3>
    <ul>
      <li>Selecting and sorting data</li>
      <li>Filtering</li>
      <li>Aggregating & calculating values</li>
      <li>Ordering and commenting</li>
      <li>Joins and aliases</li>
      <li>Saving queries</li>
      <li>Database design</li>
      <li>Other database tools</li>
      <li><a href="https://librarycarpentry.github.io/lc-sql/reference"><u>Reference...</u></a></li>
    </ul>
  </div>

</div>

</div>



<!--
<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Jargon Busting, A Computational Approach, Introduction to Working with Data</h3>
    <ul>
      <li>Jargon Busting</li>
      <li><a href="https://librarycarpentry.org/lc-overview/">Workshop Overview...</a></li>
      <li>A Computational Approach</li>
      <li><a href="https://librarycarpentry.org/lc-overview/">Workshop Overview...</a></li>
      <li>Introduction to Working with Data (Regular Expressions)</li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">The Unix Shell</h3>
    <ul>
      <li>Files and Directories</li>
      <li>History and Tab Completion</li>
      <li>Counting and Sorting Contents in Files</li>
      <li>Pipes and Redirection</li>
      <li>Mining or Searching in Files</li>
      <li><a href="https://librarycarpentry.github.io/lc-shell/reference">Reference...</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Introduction to Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Configuring Git</li>
      <li>Recording Changes to Files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing State Changes with <code>status</code></li>
      <li>Working on the Web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Where to Host Work, and Why</li>
      <li><a href="https://librarycarpentry.org/lc-git/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-openrefine">OpenRefine</h3>
      <ul>
        <li>Introduction to OpenRefine</li>
        <li>Importing Data</li>
        <li>Basic Functions</li>
        <li>Advanced Functions</li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/reference">Reference...</a></li>
      </ul>
    </div>
  </div>
</div>
-->
